* {
    border: red solid 1px;
}

img {
    width: 80px;
    height: 80px;
    margin: 10px;
    float: left;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

#canvas {
    width: 100%;
    height: calc(100vh - 25px);
    float: left;
}

#plugins {
    width: 0;
    height: calc(100vh - 25px);
    float: left;
    transition: width 0.3s ease;
}

#plugins:target {
    width: 205px;
    min-width: 205px;
}

#plugins:target + #canvas {
    width: calc(100% - 205px);
}